.employee-card {
  width: 70% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: white !important;
  border-radius: 7px !important;
  border: 1px solid black !important;
  box-shadow: 0px 0px 2px 0px black !important;
  color: rgb(0, 0, 0) !important;
  margin-bottom: 2rem !important;
}

.employee-card:hover {
  transform: scale(1.03, 1.03);
}

.employee-card > .content > .header {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  color: rgb(0, 0, 0) !important;
}

.employee-card > .content > .header > small {
  font-size: 12px !important;
  font-weight: 600 !important;
  /* font-style: italic; */
}

@media only screen and (max-width: 800px) {
  .employee-card {
    width: 100% !important;
  }
}

.skill-design {
  width: fit-content;
  border-radius: 30px;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 5px;
}

.skill-holder {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
}

.readopenclose {
  color: #000000;
  float: right;
  cursor: pointer;
}

.certification-design {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.education-design {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.workexp-design {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
