.organization-card {
  width: 70% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: white  !important;
  border-radius: 7px !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 1px 0px white !important;
  color: black !important;
  margin-bottom: 2rem !important;
}

.organization-card:hover {
  transform: scale(1.03, 1.03);
}

.organization-card > .content > .header {
  display: flex !important;
  justify-content: end !important;
  flex-wrap: wrap !important;
  color: green !important;
}

.organization-card > .content > .header > small {
  font-size: 12px !important;
  font-weight: 600 !important;
  font-style: italic;
}


@media only screen and (max-width: 800px) {
  .organization-card {
    width: 100% !important;
  }
}
